@model BTL_DoAn.Application.Catalog.Policies.Dtos.CreatePolicyRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Thêm danh chính sách</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thêm danh mục sản phẩm </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index" asp-controller="Policy">Danh sách chính sách</a>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="PolicyName" class="control-label"></label>
                            <input asp-for="PolicyName" class="form-control" />
                            <span asp-validation-for="PolicyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PolicyDescription" class="control-label"></label>
                            <input asp-for="PolicyDescription" class="form-control" />
                            <span asp-validation-for="PolicyDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Discount" class="control-label"></label>
                            <input asp-for="Discount" class="form-control" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductId" class="control-label"></label>
                            <input asp-for="ProductId" class="form-control" />
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Voucher" class="control-label"></label>
                            <input asp-for="Voucher" class="form-control" />
                            <span asp-validation-for="Voucher" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary"style="margin: 20px 0;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
