* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
a:hover{
    color: #c89551;
}
.top-header {
    background-color: #2F333A;
    height: 30px;
}

.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* top header icon */
.header-icon {
    margin: 3px;
}

.icon {
    margin-right: 10px;

}

.icon i {
    color: #C4C4C4;
}

.icon a {
    font-size: 12px;
}

.icon-nav {
    margin: 0;
    padding: 0 0 0 10px;
    width: 50px;
}

.nav-item .nav-link.active.ab {
    color: #c89551;
}
.header-contact {
    margin: 2px;
}

.main-menu {
    height: 100px;
    background-color: rgb(0, 0, 0);
}

.main-menu .row {
    display: flex;
    flex-wrap: nowrap;
}

.nav-item {
    font-size: 15px;
    font-weight: bold;
    color: #C4C4C4 !important;
}

/* .icon-nav{
    margin-top: 10px;
} */
.icon-nav li a {
    color: black;
    padding-left: 13px;
}

.nav-item {
    padding: 0 25px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    transition: .3s;
    background-color: #fff;
    box-shadow: 0 23px 38px 0 rgb(0 0 0 / 10%);
    z-index: 99;
}


/* Tab menu */
.section_menu {
    background-color: #FFFAFA;
}
.section_menu-header{
    width: 260px ;
    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
    padding: 30px 0;
}
.tablist{
    justify-content: center;
}
.nav-pills .nav-link{
    border: 1px solid rgb(159, 159, 159);
    border-radius: 40px;
}
.nav-pills .nav-link.active{
    color: #fff;
    background-color: #c89551;
}
.nav-link{
    color: #000;
}
.product-list
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
}
.product-item{
    display: flex;
    margin: 15px 0;
    flex-basis: 50%;
    align-items: center;
}
.product-Img{
    width: 110px;
    height: 110px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
.product-content{
    padding: 10px 0;
}
.product-name-price{
    display: flex;
    font-weight: 600;
    font-size: 20px;
}
.product-name {
    flex: 2;
    color: #000;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.product-price{
    flex: 1;
    font-weight: 500;
}
.product-description{
    color: rgb(68, 66, 66);
}
.btn-view-all{
    text-align: center;
}
.View-all {
    border: 1px solid rgba(2, 2, 2,0.2);
    padding: 8px 30px;
    background-color: #FFFAFA;
    margin: 20px auto;
    border-radius: 23px;
}
.View-all:hover{
    background-color:#c89551 ;
}
.carousel-inner,
.carousel{
    position: unset;
}
.carousel-item{
    position: absolute;    
    top: 0;
    right: 10px;
    display: block;
    margin: 0;
}
.btn-View-about{
    position: absolute !important;
    right: 315px;
    color: white;
}
.img-footer{
    width: 40%;
}
